* {
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', 'Arial', sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

head {
    display: none;
}

script {
    display: none;
}

body {
    overflow-x: hidden;
    background: url("./assets/wallpaper-grelha.jpg");
    background-size: cover;
}

header {
    height: 100px;
    width: 101vw;
    background-color: #0000005b;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

button {
    height: 40px;
    width: 250px;
    background-color: #ff7300;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

button:disabled {
    color: #000000;
}

#menu {
    margin-top: 2%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

#wellcome {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 50px;
}

.div-hamburguer {
    margin: 3% 5%;
    background-color: #000000;
    border: 5px solid #ff7300;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 250px;
    transition: transform 0.3s ease-in-out;
}

.div-hamburguer:hover {
    transform: scale(1.2);
}

img {
    margin-bottom: 10px;
    border-radius: 20px;
    height: 200px;
    width: 200px;
}

h2 {
    color: #cfcfcf;
    cursor: default;
}

p {
    color: #cfcfcf;
    font-size: 20px;
    font-weight: 600;
    cursor: default;
}

#sum-div {
    margin: 3% 5%;
    background-color: #000000;
    border: 5px solid #ff7300;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 250px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    font-size: 17px;
    padding: 10px;
}